* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* VARS */

:root {
    --background-primary:
}

body {
    background: linear-gradient(to left, #2572F6,  #9F3FFF);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 60rem;
    height: 20rem;
   
}

.label {
    height: 100%; 
    width: 50%;
    border-radius: 1rem;
    
    
}

/* IMAGE MAIN */

.img-main {
    box-shadow: 8px -7px 33px 2px rgba(0, 0, 0.15, 0.4);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem ;

}

.img-main div {
    border: 2px dashed #9F3FFF;
    border-radius: 50%;
    padding: 1.2rem;
    max-width: 150px;
    width: 100%;
}

.img-main svg {
    width: 100%;
    height: 100%;
}

label {
    cursor: pointer;
}
/* TEXT MAIN */

#check-box {
    display: none;
}

.text-main {
    box-shadow: 8px -7px 33px 2px rgba(0, 0, 0.15, 0.4);
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    max-width: 600px;
    width: 100%;
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    margin-left: -18px;
    display: none;
    animation: slide;
    transition: all 2s linear;
    animation-delay: 1s;
    animation-duration: 5s;

}

#check-box:checked ~ .text-main  {
    display: block;
}

#check-box:checked ~ .img-main {
    border-radius: 1rem 0 0 1rem;
}

.text-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.text-center {
    margin-bottom: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.text-center h1 {
    width: 90%;
}

.text-center p {
    width: 90%;
}

.text-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;        
}

.text-footer div {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-family: 'Poppins', sans-serif;
}

.text-footer img {
    width: 15%;
    border-radius: 50%;
    background-color: #2572F6;
    border: 1px solid black;
}

/* @keyframes slide {
    0% {
        transform: scale(0.2);
    }
    
    100% {
        transform: scaleX(1);
    }
} */